.center{
   
    color:green;
    display: inline-block;
}
.product{
    
    margin-left: auto;
    margin-right: auto;
   
   
   
}
.product2{
    margin-left: auto;
   margin-right: auto;
   display:block;
    
}


